
.questions-container{
    margin-top: 60px;
    min-width: 100%;
    min-height: 400px;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap; 
    justify-content: space-between;
}

.question-card-container-single-page {
    margin-top: 60px;
    min-width: 100%;
    justify-content: center;
    display: flex;
}

.single-page-card-size {
    min-width: 500px;
}

.questions-container::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: auto;
  }

.question-card-container{
    margin:auto 15px;
    min-width: 400px;
    height: 100%;
    display: inline-block;
}


.card-background{
    height: 300px;
    width: 100%;
    color: white;
}
.grad1{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.grad2{
    background: linear-gradient(45deg, #0F2027 30%, #2C5364 90%);
}

.grad3{
    background: linear-gradient(45deg, #a8ff78 30%, #78ffd6 90%);
}

.grad4{
    background: linear-gradient(45deg, #636363 30%, #a2ab58 90%);
}

.input-field input:focus + label {
    color: #424242 !important;
  }
  /* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #424242 !important;
    box-shadow: 0 1px 0 0 #424242 !important
  }